<div class="loading" *ngIf="!posts"><!--muestra cargando...  mientras se realiza la petición-->
    Cargando...
</div>
<div class="container-fluid mt-3" *ngIf="posts"> <!--muestra el contenido del div solo cuando posts esté listo-->
    <h1>{{ page_title }}</h1> 
    <hr>

    <!-- listado de post importado , le pasamos algunas variables que se recibirán en el componente hijo (destino) para ser mostradas en la vista -->
    <post-list [posts]="posts"
               [identity]="identity"
               [url]="url"
               (delete)="deletePost($event)">
    </post-list>
</div>

