<div class="loading" *ngIf="!posts"><!--muestra cargando...  mientras se realiza la petición-->
    Cargando...
</div>
<div class="container-fluid mt-3" *ngIf="posts"> <!--muestra el contenido del div solo cuando posts esté listo-->
    
    <hr>
    <div id="user-card">
        <div class="avatar_mask_profile float-left mr-3">
            <img src="{{ url + 'user/avatar/' + user.image }}" class="avatar_nav" />
        </div>
        <div class="data_mask float-left">
            <h1>{{ user.name + ' ' + user.surname }}</h1> 
            <p [innerHTML]="user.description"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <hr>

    <!-- listado de post importado , le pasamos algunas variables que se recibirán en el componente hijo (destino) para ser mostradas en la vista -->
    <post-list [posts]="posts"
               [identity]="identity"
               [url]="url"
               (delete)="deletePost($event)">
    </post-list>
    
</div>
